# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Audio do
  @moduledoc """
  API calls for all endpoints tagged `Audio`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Create speech
  Generates audio from the input text. Returns audio data or streams via SSE. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `speech_request` (SpeechRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_speech(Tesla.Env.client(), ExBifrost.Model.SpeechRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()} | {:ok, String.t()} | {:error, Tesla.Env.t()}
  def create_speech(connection, speech_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/audio/speech")
      |> add_param(:body, :body, speech_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Create transcription
  Transcribes audio into text in the input language. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `model` (String.t): Model in provider/model format
  - `file` (String.t): Audio file to transcribe
  - `opts` (keyword): Optional parameters
    - `:fallbacks` ([String.t]): 
    - `:stream` (boolean()): 
    - `:language` (String.t): 
    - `:prompt` (String.t): 
    - `:response_format` (String.t): 
    - `:file_format` (String.t): 

  ### Returns

  - `{:ok, ExBifrost.Model.TranscriptionResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_transcription(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.TranscriptionResponse.t()}
          | {:error, Tesla.Env.t()}
  def create_transcription(connection, model, file, opts \\ []) do
    optional_params = %{
      :fallbacks => :form,
      :stream => :form,
      :language => :form,
      :prompt => :form,
      :response_format => :form,
      :file_format => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/v1/audio/transcriptions")
      |> add_param(:form, :model, model)
      |> add_param(:file, :file, file)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.TranscriptionResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
