# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Batch do
  @moduledoc """
  API calls for all endpoints tagged `Batch`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Cancel a batch job
  Cancels a batch job. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `batch_id` (String.t): The ID of the batch to cancel
  - `provider` (ModelProvider): The provider of the batch
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CancelBatch200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec cancel_batch(Tesla.Env.client(), String.t(), ExBifrost.Model.ModelProvider.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.CancelBatch200Response.t()}
          | {:error, Tesla.Env.t()}
  def cancel_batch(connection, batch_id, provider, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/batches/#{batch_id}/cancel")
      |> add_param(:query, :provider, provider)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CancelBatch200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Create a batch job
  Creates a batch job for asynchronous processing. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `batch_create_request` (BatchCreateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.BatchCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_batch(Tesla.Env.client(), ExBifrost.Model.BatchCreateRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BatchCreateResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def create_batch(connection, batch_create_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/batches")
      |> add_param(:body, :body, batch_create_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.BatchCreateResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get batch results
  Retrieves results from a completed batch job. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `batch_id` (String.t): The ID of the batch
  - `provider` (ModelProvider): The provider of the batch
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GetBatchResults200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_batch_results(Tesla.Env.client(), String.t(), ExBifrost.Model.ModelProvider.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.GetBatchResults200Response.t()}
          | {:error, Tesla.Env.t()}
  def get_batch_results(connection, batch_id, provider, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/batches/#{batch_id}/results")
      |> add_param(:query, :provider, provider)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GetBatchResults200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List batch jobs
  Lists batch jobs for a provider. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `provider` (ModelProvider): Provider to list batches for
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Maximum number of batches to return
    - `:after` (String.t): Cursor for pagination
    - `:before` (String.t): Cursor for pagination

  ### Returns

  - `{:ok, ExBifrost.Model.BatchListResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_batches(Tesla.Env.client(), ExBifrost.Model.ModelProvider.t(), keyword()) ::
          {:ok, ExBifrost.Model.BatchListResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def list_batches(connection, provider, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :after => :query,
      :before => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/batches")
      |> add_param(:query, :provider, provider)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.BatchListResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Retrieve a batch job
  Retrieves a specific batch job by ID. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `batch_id` (String.t): The ID of the batch to retrieve
  - `provider` (ModelProvider): The provider of the batch
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.BatchRetrieveResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec retrieve_batch(Tesla.Env.client(), String.t(), ExBifrost.Model.ModelProvider.t(), keyword()) ::
          {:ok, ExBifrost.Model.BatchRetrieveResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def retrieve_batch(connection, batch_id, provider, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/batches/#{batch_id}")
      |> add_param(:query, :provider, provider)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.BatchRetrieveResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
