# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.BedrockIntegration do
  @moduledoc """
  API calls for all endpoints tagged `BedrockIntegration`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Cancel batch inference job (Bedrock format)
  Stops a batch inference job using AWS Bedrock format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `job_arn` (String.t): Bedrock job ARN to stop (URL-encoded). For non-Bedrock providers, the `arn:aws:bedrock:us-east-1:444444444444:batch:` prefix is stripped automatically before routing. 
  - `opts` (keyword): Optional parameters
    - `:"x-model-provider"` (String.t): Optional provider override for cross-provider batch routing.

  ### Returns

  - `{:ok, ExBifrost.Model.BedrockCancelBatchJob200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bedrock_cancel_batch_job(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.BedrockError.t()}
          | {:ok, ExBifrost.Model.BedrockCancelBatchJob200Response.t()}
          | {:error, Tesla.Env.t()}
  def bedrock_cancel_batch_job(connection, job_arn, opts \\ []) do
    optional_params = %{
      :"x-model-provider" => :headers
    }

    request =
      %{}
      |> method(:post)
      |> url("/bedrock/model-invocation-job/#{job_arn}/stop")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.BedrockCancelBatchJob200Response},
      {400, ExBifrost.Model.BedrockError},
      {500, ExBifrost.Model.BedrockError}
    ])
  end

  @doc """
  Converse with model (Bedrock format)
  Sends messages to a model using AWS Bedrock Converse API format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `model_id` (String.t): Model ID (e.g., anthropic.claude-3-sonnet-20240229-v1:0)
  - `bedrock_converse_request` (BedrockConverseRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.BedrockConverseResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bedrock_converse(Tesla.Env.client(), String.t(), ExBifrost.Model.BedrockConverseRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BedrockError.t()}
          | {:ok, ExBifrost.Model.BedrockConverseResponse.t()}
          | {:error, Tesla.Env.t()}
  def bedrock_converse(connection, model_id, bedrock_converse_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bedrock/model/#{model_id}/converse")
      |> add_param(:body, :body, bedrock_converse_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.BedrockConverseResponse},
      {400, ExBifrost.Model.BedrockError},
      {500, ExBifrost.Model.BedrockError}
    ])
  end

  @doc """
  Stream converse with model (Bedrock format)
  Streams messages from a model using AWS Bedrock Converse API format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `model_id` (String.t): Model ID (e.g., anthropic.claude-3-sonnet-20240229-v1:0)
  - `bedrock_converse_request` (BedrockConverseRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.BedrockConverseStream200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bedrock_converse_stream(Tesla.Env.client(), String.t(), ExBifrost.Model.BedrockConverseRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BedrockError.t()}
          | {:ok, ExBifrost.Model.BedrockConverseStream200Response.t()}
          | {:error, Tesla.Env.t()}
  def bedrock_converse_stream(connection, model_id, bedrock_converse_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bedrock/model/#{model_id}/converse-stream")
      |> add_param(:body, :body, bedrock_converse_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.BedrockConverseStream200Response},
      {400, ExBifrost.Model.BedrockError},
      {500, ExBifrost.Model.BedrockError}
    ])
  end

  @doc """
  Count tokens (Bedrock format)
  Counts tokens for a Converse-style request using AWS Bedrock format. The request body must include `input.converse` with a complete Converse payload; only Converse-shaped input is supported. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `model_id` (String.t): Bedrock model identifier (e.g. `anthropic.claude-3-5-sonnet-20240620-v1:0`).
  - `bedrock_count_tokens_request` (BedrockCountTokensRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.BedrockCountTokens200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bedrock_count_tokens(Tesla.Env.client(), String.t(), ExBifrost.Model.BedrockCountTokensRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BedrockError.t()}
          | {:ok, ExBifrost.Model.BedrockCountTokens200Response.t()}
          | {:error, Tesla.Env.t()}
  def bedrock_count_tokens(connection, model_id, bedrock_count_tokens_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bedrock/model/#{model_id}/count-tokens")
      |> add_param(:body, :body, bedrock_count_tokens_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.BedrockCountTokens200Response},
      {400, ExBifrost.Model.BedrockError},
      {500, ExBifrost.Model.BedrockError}
    ])
  end

  @doc """
  Create batch inference job (Bedrock format)
  Creates a batch inference job using AWS Bedrock format. Routes to native Bedrock by default; set `x-model-provider` to route the job to another provider (`openai`, `gemini`, etc.). 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `bedrock_batch_job_request` (BedrockBatchJobRequest): 
  - `opts` (keyword): Optional parameters
    - `:"x-model-provider"` (String.t): Optional provider override for cross-provider batch routing.

  ### Returns

  - `{:ok, ExBifrost.Model.BedrockBatchJobResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bedrock_create_batch_job(Tesla.Env.client(), ExBifrost.Model.BedrockBatchJobRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BedrockError.t()}
          | {:ok, ExBifrost.Model.BedrockBatchJobResponse.t()}
          | {:error, Tesla.Env.t()}
  def bedrock_create_batch_job(connection, bedrock_batch_job_request, opts \\ []) do
    optional_params = %{
      :"x-model-provider" => :headers
    }

    request =
      %{}
      |> method(:post)
      |> url("/bedrock/model-invocation-job")
      |> add_param(:body, :body, bedrock_batch_job_request)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.BedrockBatchJobResponse},
      {400, ExBifrost.Model.BedrockError},
      {500, ExBifrost.Model.BedrockError}
    ])
  end

  @doc """
  Invoke model (Bedrock format)
  Invokes a model using AWS Bedrock InvokeModel API format. Accepts raw model-specific request body. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `model_id` (String.t): Model ID (e.g., anthropic.claude-3-sonnet-20240229-v1:0)
  - `bedrock_invoke_request` (BedrockInvokeRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bedrock_invoke_model(Tesla.Env.client(), String.t(), ExBifrost.Model.BedrockInvokeRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BedrockError.t()} | {:ok, %{optional(String.t()) => any()}} | {:error, Tesla.Env.t()}
  def bedrock_invoke_model(connection, model_id, bedrock_invoke_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bedrock/model/#{model_id}/invoke")
      |> add_param(:body, :body, bedrock_invoke_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {400, ExBifrost.Model.BedrockError},
      {500, ExBifrost.Model.BedrockError}
    ])
  end

  @doc """
  Invoke model with streaming (Bedrock format)
  Invokes a model with streaming using AWS Bedrock InvokeModelWithResponseStream API format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `model_id` (String.t): Model ID (e.g., anthropic.claude-3-sonnet-20240229-v1:0)
  - `bedrock_invoke_request` (BedrockInvokeRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bedrock_invoke_model_stream(Tesla.Env.client(), String.t(), ExBifrost.Model.BedrockInvokeRequest.t(), keyword()) ::
          {:ok, map()} | {:ok, ExBifrost.Model.BedrockError.t()} | {:error, Tesla.Env.t()}
  def bedrock_invoke_model_stream(connection, model_id, bedrock_invoke_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/bedrock/model/#{model_id}/invoke-with-response-stream")
      |> add_param(:body, :body, bedrock_invoke_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {400, ExBifrost.Model.BedrockError},
      {500, ExBifrost.Model.BedrockError}
    ])
  end

  @doc """
  List batch inference jobs (Bedrock format)
  Lists batch inference jobs using AWS Bedrock format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:maxResults` (integer()): Maximum number of results to return
    - `:nextToken` (String.t): Token for pagination
    - `:statusEquals` (String.t): Filter by status
    - `:nameContains` (String.t): Filter by job name containing this string
    - `:"x-model-provider"` (String.t): Optional provider override for cross-provider batch routing.

  ### Returns

  - `{:ok, ExBifrost.Model.BedrockListBatchJobs200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bedrock_list_batch_jobs(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BedrockListBatchJobs200Response.t()}
          | {:ok, ExBifrost.Model.BedrockError.t()}
          | {:error, Tesla.Env.t()}
  def bedrock_list_batch_jobs(connection, opts \\ []) do
    optional_params = %{
      :maxResults => :query,
      :nextToken => :query,
      :statusEquals => :query,
      :nameContains => :query,
      :"x-model-provider" => :headers
    }

    request =
      %{}
      |> method(:get)
      |> url("/bedrock/model-invocation-jobs")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.BedrockListBatchJobs200Response},
      {400, ExBifrost.Model.BedrockError},
      {500, ExBifrost.Model.BedrockError}
    ])
  end

  @doc """
  Retrieve batch inference job (Bedrock format)
  Retrieves a batch inference job using AWS Bedrock format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `job_arn` (String.t): Bedrock job ARN (URL-encoded). For non-Bedrock providers, the `arn:aws:bedrock:us-east-1:444444444444:batch:` prefix is stripped automatically before routing. 
  - `opts` (keyword): Optional parameters
    - `:"x-model-provider"` (String.t): Optional provider override for cross-provider batch routing.

  ### Returns

  - `{:ok, ExBifrost.Model.BedrockBatchJobResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bedrock_retrieve_batch_job(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.BedrockError.t()}
          | {:ok, ExBifrost.Model.BedrockBatchJobResponse.t()}
          | {:error, Tesla.Env.t()}
  def bedrock_retrieve_batch_job(connection, job_arn, opts \\ []) do
    optional_params = %{
      :"x-model-provider" => :headers
    }

    request =
      %{}
      |> method(:get)
      |> url("/bedrock/model-invocation-job/#{job_arn}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.BedrockBatchJobResponse},
      {400, ExBifrost.Model.BedrockError},
      {500, ExBifrost.Model.BedrockError}
    ])
  end

  @doc """
  S3-compatible DeleteObject
  Deletes an object from the Bifrost file store.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `bucket` (String.t): Bucket name.
  - `key` (String.t): Object key (`{key:*}` wildcard).
  - `opts` (keyword): Optional parameters
    - `:"x-model-provider"` (String.t): Optional provider override; defaults to `bedrock`.

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bedrock_s3_delete_object(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, nil} | {:ok, String.t()} | {:error, Tesla.Env.t()}
  def bedrock_s3_delete_object(connection, bucket, key, opts \\ []) do
    optional_params = %{
      :"x-model-provider" => :headers
    }

    request =
      %{}
      |> method(:delete)
      |> url("/bedrock/files/#{bucket}/#{key}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {500, false}
    ])
  end

  @doc """
  S3-compatible GetObject
  Retrieves raw object bytes from the Bifrost file store.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `bucket` (String.t): Bucket name.
  - `key` (String.t): Object key (`{key:*}` wildcard).
  - `opts` (keyword): Optional parameters
    - `:"x-model-provider"` (String.t): Optional provider override; defaults to `bedrock`.

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bedrock_s3_get_object(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, String.t()} | {:error, Tesla.Env.t()}
  def bedrock_s3_get_object(connection, bucket, key, opts \\ []) do
    optional_params = %{
      :"x-model-provider" => :headers
    }

    request =
      %{}
      |> method(:get)
      |> url("/bedrock/files/#{bucket}/#{key}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {404, false}
    ])
  end

  @doc """
  S3-compatible HeadObject
  Returns S3 metadata headers (ETag, Content-Length, etc.) without a body. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `bucket` (String.t): Bucket name.
  - `key` (String.t): Object key (`{key:*}` wildcard).
  - `opts` (keyword): Optional parameters
    - `:"x-model-provider"` (String.t): Optional provider override; defaults to `bedrock`.

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bedrock_s3_head_object(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, nil} | {:error, Tesla.Env.t()}
  def bedrock_s3_head_object(connection, bucket, key, opts \\ []) do
    optional_params = %{
      :"x-model-provider" => :headers
    }

    request =
      %{}
      |> method(:head)
      |> url("/bedrock/files/#{bucket}/#{key}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {404, false}
    ])
  end

  @doc """
  S3-compatible ListObjectsV2
  Lists objects in a bucket using S3 ListObjectsV2 semantics. Supports the `prefix` and `max-keys` query parameters used by boto3. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `bucket` (String.t): Bucket name.
  - `opts` (keyword): Optional parameters
    - `:prefix` (String.t): Filter keys by prefix.
    - `:"max-keys"` (integer()): Maximum number of keys to return.
    - `:"x-model-provider"` (String.t): Optional provider override; defaults to `bedrock`.

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bedrock_s3_list_objects(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, String.t()} | {:error, Tesla.Env.t()}
  def bedrock_s3_list_objects(connection, bucket, opts \\ []) do
    optional_params = %{
      :prefix => :query,
      :"max-keys" => :query,
      :"x-model-provider" => :headers
    }

    request =
      %{}
      |> method(:get)
      |> url("/bedrock/files/#{bucket}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {500, false}
    ])
  end

  @doc """
  S3-compatible PutObject
  Uploads an object to the Bifrost file store using S3 PutObject semantics. The response is empty with an `ETag` header, mirroring native S3. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `bucket` (String.t): Bucket name.
  - `key` (String.t): Object key. Supports `/`-separated nested keys (`{key:*}` wildcard).
  - `body` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:"x-model-provider"` (String.t): Optional provider override; defaults to `bedrock`.

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bedrock_s3_put_object(Tesla.Env.client(), String.t(), String.t(), String.t(), keyword()) ::
          {:ok, nil} | {:ok, String.t()} | {:error, Tesla.Env.t()}
  def bedrock_s3_put_object(connection, bucket, key, body, opts \\ []) do
    optional_params = %{
      :"x-model-provider" => :headers
    }

    request =
      %{}
      |> method(:put)
      |> url("/bedrock/files/#{bucket}/#{key}")
      |> add_param(:body, :body, body)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {500, false}
    ])
  end
end
