# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.ChatCompletions do
  @moduledoc """
  API calls for all endpoints tagged `ChatCompletions`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Create a chat completion
  Creates a completion for the provided messages. Supports streaming via SSE. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `chat_completion_request` (ChatCompletionRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ChatCompletionResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_chat_completion(Tesla.Env.client(), ExBifrost.Model.ChatCompletionRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.ChatCompletionResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def create_chat_completion(connection, chat_completion_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/chat/completions")
      |> add_param(:body, :body, chat_completion_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ChatCompletionResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
