# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.CircuitBreaker do
  @moduledoc """
  API calls for all endpoints tagged `CircuitBreaker`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Create circuit breaker policy
  Creates a new circuit breaker policy and immediately activates it in the running gateway. Returns 409 if a policy with the same name already exists. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `list_circuit_breaker_policies200_response_policies_inner` (ListCircuitBreakerPolicies200ResponsePoliciesInner): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ListCircuitBreakerPolicies200ResponsePoliciesInner.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_circuit_breaker_policy(
          Tesla.Env.client(),
          ExBifrost.Model.ListCircuitBreakerPolicies200ResponsePoliciesInner.t(),
          keyword()
        ) ::
          {:ok, nil}
          | {:ok, ExBifrost.Model.ListCircuitBreakerPolicies200ResponsePoliciesInner.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def create_circuit_breaker_policy(connection, list_circuit_breaker_policies200_response_policies_inner, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/circuit-breaker/policies")
      |> add_param(:body, :body, list_circuit_breaker_policies200_response_policies_inner)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, ExBifrost.Model.ListCircuitBreakerPolicies200ResponsePoliciesInner},
      {400, ExBifrost.Model.BifrostError},
      {409, false},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Delete circuit breaker policy
  Deletes a circuit breaker policy by name and removes it from the running gateway. Any open circuits for this policy are discarded immediately. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `name` (String.t): Name of the policy to delete.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.Logout200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_circuit_breaker_policy(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, nil}
          | {:ok, ExBifrost.Model.Logout200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def delete_circuit_breaker_policy(connection, name, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/api/circuit-breaker/policies/#{name}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.Logout200Response},
      {404, false},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get circuit breaker state
  Returns a snapshot of all currently-open circuits. Main circuits are keyed by policy name. Per-key sub-circuits are keyed by `\"<policy_name>\\x00<key_id>\"`. Circuits not present in the map are closed. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GetCircuitBreakerState200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_circuit_breaker_state(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.GetCircuitBreakerState200Response.t()}
          | {:error, Tesla.Env.t()}
  def get_circuit_breaker_state(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/circuit-breaker/state")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GetCircuitBreakerState200Response},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List circuit breaker policies
  Returns all circuit breaker policies defined in this workspace.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ListCircuitBreakerPolicies200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_circuit_breaker_policies(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.ListCircuitBreakerPolicies200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def list_circuit_breaker_policies(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/circuit-breaker/policies")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListCircuitBreakerPolicies200Response},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Update circuit breaker policy
  Replaces a circuit breaker policy by name. The `name` field in the request body must match the URL parameter or be omitted. Changes take effect immediately in the running gateway. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `name` (String.t): Name of the policy to update.
  - `list_circuit_breaker_policies200_response_policies_inner` (ListCircuitBreakerPolicies200ResponsePoliciesInner): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ListCircuitBreakerPolicies200ResponsePoliciesInner.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_circuit_breaker_policy(
          Tesla.Env.client(),
          String.t(),
          ExBifrost.Model.ListCircuitBreakerPolicies200ResponsePoliciesInner.t(),
          keyword()
        ) ::
          {:ok, nil}
          | {:ok, ExBifrost.Model.ListCircuitBreakerPolicies200ResponsePoliciesInner.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def update_circuit_breaker_policy(
        connection,
        name,
        list_circuit_breaker_policies200_response_policies_inner,
        _opts \\ []
      ) do
    request =
      %{}
      |> method(:put)
      |> url("/api/circuit-breaker/policies/#{name}")
      |> add_param(:body, :body, list_circuit_breaker_policies200_response_policies_inner)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListCircuitBreakerPolicies200ResponsePoliciesInner},
      {400, ExBifrost.Model.BifrostError},
      {404, false},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
