# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.CohereIntegration do
  @moduledoc """
  API calls for all endpoints tagged `CohereIntegration`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Chat with model (Cohere v2 format)
  Sends a chat request using Cohere v2 API format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `cohere_chat_request` (CohereChatRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CohereChatResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec cohere_chat_v2(Tesla.Env.client(), ExBifrost.Model.CohereChatRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.CohereChatResponse.t()}
          | {:ok, ExBifrost.Model.CohereError.t()}
          | {:error, Tesla.Env.t()}
  def cohere_chat_v2(connection, cohere_chat_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/cohere/v2/chat")
      |> add_param(:body, :body, cohere_chat_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CohereChatResponse},
      {400, ExBifrost.Model.CohereError},
      {500, ExBifrost.Model.CohereError}
    ])
  end

  @doc """
  Create embeddings (Cohere v2 format)
  Creates embeddings using Cohere v2 API format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `cohere_embedding_request` (CohereEmbeddingRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CohereEmbeddingResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec cohere_embed_v2(Tesla.Env.client(), ExBifrost.Model.CohereEmbeddingRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.CohereEmbeddingResponse.t()}
          | {:ok, ExBifrost.Model.CohereError.t()}
          | {:error, Tesla.Env.t()}
  def cohere_embed_v2(connection, cohere_embedding_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/cohere/v2/embed")
      |> add_param(:body, :body, cohere_embedding_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CohereEmbeddingResponse},
      {400, ExBifrost.Model.CohereError},
      {500, ExBifrost.Model.CohereError}
    ])
  end

  @doc """
  Rerank documents (Cohere format)
  Reranks a list of documents against a query using Cohere's v2 Rerank API. The request body matches Cohere's native format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `cohere_rerank_request` (CohereRerankRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CohereRerank200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec cohere_rerank(Tesla.Env.client(), ExBifrost.Model.CohereRerankRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.CohereRerank200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def cohere_rerank(connection, cohere_rerank_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/cohere/v2/rerank")
      |> add_param(:body, :body, cohere_rerank_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CohereRerank200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Tokenize text (Cohere format)
  Tokenizes text using Cohere v1 API format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `cohere_count_tokens_request` (CohereCountTokensRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CohereCountTokensResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec cohere_tokenize(Tesla.Env.client(), ExBifrost.Model.CohereCountTokensRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.CohereCountTokensResponse.t()}
          | {:ok, ExBifrost.Model.CohereError.t()}
          | {:error, Tesla.Env.t()}
  def cohere_tokenize(connection, cohere_count_tokens_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/cohere/v1/tokenize")
      |> add_param(:body, :body, cohere_count_tokens_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CohereCountTokensResponse},
      {400, ExBifrost.Model.CohereError},
      {500, ExBifrost.Model.CohereError}
    ])
  end
end
