# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Compaction do
  @moduledoc """
  API calls for all endpoints tagged `Compaction`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Compact context
  Compresses a conversation into an opaque encrypted compaction item using the OpenAI-compatible context compaction API.  The response `output` array contains the original user messages plus a final item with `type: \"response.compaction\"` and an `encrypted_content` field. Pass the full `output` array as `input` to future Responses API requests to continue the conversation without retransmitting the full history.  **Supported providers:** OpenAI, Azure OpenAI, xAI. Requests to unsupported providers return a 400 error. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `create_compaction_request` (CreateCompactionRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreateCompaction200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_compaction(Tesla.Env.client(), ExBifrost.Model.CreateCompactionRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.CreateCompaction200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def create_compaction(connection, create_compaction_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/responses/compact")
      |> add_param(:body, :body, create_compaction_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CreateCompaction200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
