# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Configuration do
  @moduledoc """
  API calls for all endpoints tagged `Configuration`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Force pricing sync
  Triggers an immediate pricing sync and resets the pricing sync timer.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.SuccessResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec force_sync_pricing(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.SuccessResponse.t()} | {:ok, ExBifrost.Model.BifrostError.t()} | {:error, Tesla.Env.t()}
  def force_sync_pricing(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/pricing/force-sync")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.SuccessResponse},
      {500, ExBifrost.Model.BifrostError},
      {503, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get configuration
  Retrieves the current Bifrost configuration including client config, framework config, auth config, and connection status for various stores. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:from_db` (String.t): If true, fetch configuration directly from the database

  ### Returns

  - `{:ok, ExBifrost.Model.GetConfigResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_config(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.GetConfigResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def get_config(connection, opts \\ []) do
    optional_params = %{
      :from_db => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/config")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GetConfigResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get proxy configuration
  Retrieves the current global proxy configuration.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GetProxyConfig200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_proxy_config(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.GetProxyConfig200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def get_proxy_config(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/proxy-config")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GetProxyConfig200Response},
      {500, ExBifrost.Model.BifrostError},
      {503, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get version
  Returns the current Bifrost version information.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_version(Tesla.Env.client(), keyword()) :: {:ok, String.t()} | {:error, Tesla.Env.t()}
  def get_version(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/version")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end

  @doc """
  Update configuration
  Updates the Bifrost configuration. Supports hot-reloading of certain settings like drop_excess_requests. Some settings may require a restart to take effect. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `update_config_request` (UpdateConfigRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.SuccessResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_config(Tesla.Env.client(), ExBifrost.Model.UpdateConfigRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.SuccessResponse.t()} | {:ok, ExBifrost.Model.BifrostError.t()} | {:error, Tesla.Env.t()}
  def update_config(connection, update_config_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/config")
      |> add_param(:body, :body, update_config_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.SuccessResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Update proxy configuration
  Updates the global proxy configuration.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `get_proxy_config200_response` (GetProxyConfig200Response): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.SuccessResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_proxy_config(Tesla.Env.client(), ExBifrost.Model.GetProxyConfig200Response.t(), keyword()) ::
          {:ok, ExBifrost.Model.SuccessResponse.t()} | {:ok, ExBifrost.Model.BifrostError.t()} | {:error, Tesla.Env.t()}
  def update_proxy_config(connection, get_proxy_config200_response, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/proxy-config")
      |> add_param(:body, :body, get_proxy_config200_response)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.SuccessResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
