# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Containers do
  @moduledoc """
  API calls for all endpoints tagged `Containers`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Create a container
  Creates a new container for storing files and data. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `create_container_request` (CreateContainerRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreateContainer200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_container(Tesla.Env.client(), ExBifrost.Model.CreateContainerRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.CreateContainer200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def create_container(connection, create_container_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/containers")
      |> add_param(:body, :body, create_container_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CreateContainer200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Create a file in a container
  Creates a new file in a container. You can either upload file content directly via multipart/form-data or reference an existing file by its ID. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `container_id` (String.t): The ID of the container
  - `provider` (ModelProvider): The provider of the container
  - `opts` (keyword): Optional parameters
    - `:file` (String.t): The file content to upload
    - `:file_path` (String.t): Optional path for the file within the container

  ### Returns

  - `{:ok, ExBifrost.Model.CreateContainerFile200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_container_file(Tesla.Env.client(), String.t(), ExBifrost.Model.ModelProvider.t(), keyword()) ::
          {:ok, ExBifrost.Model.CreateContainerFile200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def create_container_file(connection, container_id, provider, opts \\ []) do
    optional_params = %{
      :file => :form,
      :file_path => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/v1/containers/#{container_id}/files")
      |> add_param(:query, :provider, provider)
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CreateContainerFile200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Delete a container
  Deletes a container. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `container_id` (String.t): The ID of the container to delete
  - `provider` (ModelProvider): The provider of the container
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.DeleteFile200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_container(Tesla.Env.client(), String.t(), ExBifrost.Model.ModelProvider.t(), keyword()) ::
          {:ok, ExBifrost.Model.DeleteFile200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def delete_container(connection, container_id, provider, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/v1/containers/#{container_id}")
      |> add_param(:query, :provider, provider)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.DeleteFile200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Delete a file from a container
  Deletes a file from a container. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `container_id` (String.t): The ID of the container
  - `file_id` (String.t): The ID of the file to delete
  - `provider` (ModelProvider): The provider of the container
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.DeleteFile200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_container_file(Tesla.Env.client(), String.t(), String.t(), ExBifrost.Model.ModelProvider.t(), keyword()) ::
          {:ok, ExBifrost.Model.DeleteFile200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def delete_container_file(connection, container_id, file_id, provider, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/v1/containers/#{container_id}/files/#{file_id}")
      |> add_param(:query, :provider, provider)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.DeleteFile200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Download file content from a container
  Downloads the content of a file from a container. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `container_id` (String.t): The ID of the container
  - `file_id` (String.t): The ID of the file
  - `provider` (ModelProvider): The provider of the container
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_container_file_content(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          ExBifrost.Model.ModelProvider.t(),
          keyword()
        ) :: {:ok, ExBifrost.Model.BifrostError.t()} | {:ok, String.t()} | {:error, Tesla.Env.t()}
  def get_container_file_content(connection, container_id, file_id, provider, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/containers/#{container_id}/files/#{file_id}/content")
      |> add_param(:query, :provider, provider)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List files in a container
  Lists all files in a container. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `container_id` (String.t): The ID of the container
  - `provider` (ModelProvider): The provider of the container
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Maximum number of files to return
    - `:after` (String.t): Cursor for pagination
    - `:order` (String.t): Sort order (asc/desc)

  ### Returns

  - `{:ok, ExBifrost.Model.ListContainerFiles200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_container_files(Tesla.Env.client(), String.t(), ExBifrost.Model.ModelProvider.t(), keyword()) ::
          {:ok, ExBifrost.Model.ListContainerFiles200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def list_container_files(connection, container_id, provider, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :after => :query,
      :order => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/containers/#{container_id}/files")
      |> add_param(:query, :provider, provider)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListContainerFiles200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List containers
  Lists containers for a provider. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `provider` (ModelProvider): Provider to list containers for
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): Maximum number of containers to return (1-100, default 20)
    - `:after` (String.t): Cursor for pagination
    - `:order` (String.t): Sort order (asc/desc)

  ### Returns

  - `{:ok, ExBifrost.Model.ListContainers200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_containers(Tesla.Env.client(), ExBifrost.Model.ModelProvider.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ListContainers200Response.t()}
          | {:error, Tesla.Env.t()}
  def list_containers(connection, provider, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :after => :query,
      :order => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/containers")
      |> add_param(:query, :provider, provider)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListContainers200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Retrieve a container
  Retrieves a specific container by ID. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `container_id` (String.t): The ID of the container to retrieve
  - `provider` (ModelProvider): The provider of the container
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreateContainer200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec retrieve_container(Tesla.Env.client(), String.t(), ExBifrost.Model.ModelProvider.t(), keyword()) ::
          {:ok, ExBifrost.Model.CreateContainer200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def retrieve_container(connection, container_id, provider, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/containers/#{container_id}")
      |> add_param(:query, :provider, provider)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CreateContainer200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Retrieve a file from a container
  Retrieves metadata for a specific file in a container. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `container_id` (String.t): The ID of the container
  - `file_id` (String.t): The ID of the file
  - `provider` (ModelProvider): The provider of the container
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreateContainerFile200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec retrieve_container_file(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          ExBifrost.Model.ModelProvider.t(),
          keyword()
        ) ::
          {:ok, ExBifrost.Model.CreateContainerFile200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def retrieve_container_file(connection, container_id, file_id, provider, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/containers/#{container_id}/files/#{file_id}")
      |> add_param(:query, :provider, provider)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CreateContainerFile200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
