# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.CountTokens do
  @moduledoc """
  API calls for all endpoints tagged `CountTokens`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Count tokens
  Counts the number of tokens in the provided messages. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `count_tokens_request` (CountTokensRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CountTokensResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec count_tokens(Tesla.Env.client(), ExBifrost.Model.CountTokensRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.CountTokensResponse.t()}
          | {:error, Tesla.Env.t()}
  def count_tokens(connection, count_tokens_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/responses/input_tokens")
      |> add_param(:body, :body, count_tokens_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CountTokensResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
