# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Embeddings do
  @moduledoc """
  API calls for all endpoints tagged `Embeddings`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Create embeddings
  Creates an embedding vector representing the input text. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `embedding_request` (EmbeddingRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.EmbeddingResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_embedding(Tesla.Env.client(), ExBifrost.Model.EmbeddingRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.EmbeddingResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def create_embedding(connection, embedding_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/embeddings")
      |> add_param(:body, :body, embedding_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.EmbeddingResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
