# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Files do
  @moduledoc """
  API calls for all endpoints tagged `Files`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Delete a file
  Deletes a file. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `file_id` (String.t): The ID of the file to delete
  - `provider` (ModelProvider): The provider of the file
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.DeleteFile200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_file(Tesla.Env.client(), String.t(), ExBifrost.Model.ModelProvider.t(), keyword()) ::
          {:ok, ExBifrost.Model.DeleteFile200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def delete_file(connection, file_id, provider, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/v1/files/#{file_id}")
      |> add_param(:query, :provider, provider)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.DeleteFile200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Download file content
  Downloads the content of a file. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `file_id` (String.t): The ID of the file
  - `provider` (ModelProvider): The provider of the file
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_file_content(Tesla.Env.client(), String.t(), ExBifrost.Model.ModelProvider.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()} | {:ok, String.t()} | {:error, Tesla.Env.t()}
  def get_file_content(connection, file_id, provider, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/files/#{file_id}/content")
      |> add_param(:query, :provider, provider)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List files
  Lists files for a provider. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `x_model_provider` (ModelProvider): Provider to list files for
  - `opts` (keyword): Optional parameters
    - `:purpose` (String.t): Filter by purpose
    - `:limit` (integer()): Maximum number of files to return
    - `:after` (String.t): Cursor for pagination
    - `:order` (String.t): Sort order (asc/desc)

  ### Returns

  - `{:ok, ExBifrost.Model.FileListResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_files(Tesla.Env.client(), ExBifrost.Model.ModelProvider.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.FileListResponse.t()}
          | {:error, Tesla.Env.t()}
  def list_files(connection, x_model_provider, opts \\ []) do
    optional_params = %{
      :purpose => :query,
      :limit => :query,
      :after => :query,
      :order => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/files")
      |> add_param(:query, :"x-model-provider", x_model_provider)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.FileListResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Retrieve file metadata
  Retrieves metadata for a specific file. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `file_id` (String.t): The ID of the file
  - `provider` (ModelProvider): The provider of the file
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.RetrieveFile200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec retrieve_file(Tesla.Env.client(), String.t(), ExBifrost.Model.ModelProvider.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.RetrieveFile200Response.t()}
          | {:error, Tesla.Env.t()}
  def retrieve_file(connection, file_id, provider, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/files/#{file_id}")
      |> add_param(:query, :provider, provider)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.RetrieveFile200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Upload a file
  Uploads a file to be used with batch operations or other features. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `file` (String.t): 
  - `purpose` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:provider` (ExBifrost.Model.ModelProvider.t): 

  ### Returns

  - `{:ok, ExBifrost.Model.FileUploadResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec upload_file(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.FileUploadResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def upload_file(connection, file, purpose, opts \\ []) do
    optional_params = %{
      :provider => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/v1/files")
      |> add_param(:file, :file, file)
      |> add_param(:form, :purpose, purpose)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.FileUploadResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
