# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.GenAIIntegration do
  @moduledoc """
  API calls for all endpoints tagged `GenAIIntegration`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Cancel a batch job (Gemini format)
  Cancels a batch job. Gemini conventionally sends the request as `/v1beta/batches/{batch_id}:cancel`; the router matches the `:cancel` suffix into the `batch_id` path parameter. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `batch_id` (String.t): Batch identifier, optionally with a `:cancel` action suffix.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_cancel_batch(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, %{optional(String.t()) => any()}} | {:ok, ExBifrost.Model.GeminiError.t()} | {:error, Tesla.Env.t()}
  def gemini_cancel_batch(connection, batch_id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/genai/v1beta/batches/#{batch_id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {404, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Count tokens (Gemini format)
  Counts tokens using Google Gemini API format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `model` (String.t): Model name with action (e.g., gemini-pro:countTokens)
  - `gemini_count_tokens_request` (GeminiCountTokensRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GeminiCountTokens200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_count_tokens(Tesla.Env.client(), String.t(), ExBifrost.Model.GeminiCountTokensRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.GeminiError.t()}
          | {:ok, ExBifrost.Model.GeminiCountTokens200Response.t()}
          | {:error, Tesla.Env.t()}
  def gemini_count_tokens(connection, model, gemini_count_tokens_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/genai/v1beta/models/#{model}:countTokens")
      |> add_param(:body, :body, gemini_count_tokens_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GeminiCountTokens200Response},
      {400, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Create cached content (Gemini format)
  Creates a cached content entry that can be re-used across subsequent generate-content calls to reduce repeated prefix tokens. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `gemini_create_cached_content_request` (GeminiCreateCachedContentRequest): 
  - `opts` (keyword): Optional parameters
    - `:"x-model-provider"` (String.t): Optional provider override. Defaults to `gemini`. Use `vertex` to route to Vertex.

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_create_cached_content(
          Tesla.Env.client(),
          ExBifrost.Model.GeminiCreateCachedContentRequest.t(),
          keyword()
        ) :: {:ok, %{optional(String.t()) => any()}} | {:ok, ExBifrost.Model.GeminiError.t()} | {:error, Tesla.Env.t()}
  def gemini_create_cached_content(connection, gemini_create_cached_content_request, opts \\ []) do
    optional_params = %{
      :"x-model-provider" => :headers
    }

    request =
      %{}
      |> method(:post)
      |> url("/genai/v1beta/cachedContents")
      |> add_param(:body, :body, gemini_create_cached_content_request)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {400, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Delete a batch job (Gemini format)

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `batch_id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_delete_batch(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, %{optional(String.t()) => any()}} | {:ok, ExBifrost.Model.GeminiError.t()} | {:error, Tesla.Env.t()}
  def gemini_delete_batch(connection, batch_id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/genai/v1beta/batches/#{batch_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {404, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Delete cached content (Gemini format)

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `cached_id` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:"x-model-provider"` (String.t): 

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_delete_cached_content(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, %{optional(String.t()) => any()}} | {:ok, ExBifrost.Model.GeminiError.t()} | {:error, Tesla.Env.t()}
  def gemini_delete_cached_content(connection, cached_id, opts \\ []) do
    optional_params = %{
      :"x-model-provider" => :headers
    }

    request =
      %{}
      |> method(:delete)
      |> url("/genai/v1beta/cachedContents/#{cached_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {404, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Delete file (Gemini format)
  Deletes a file in Google Gemini API format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `file_id` (String.t): File ID to delete
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_delete_file(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, map()} | {:ok, ExBifrost.Model.GeminiError.t()} | {:error, Tesla.Env.t()}
  def gemini_delete_file(connection, file_id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/genai/v1beta/files/#{file_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {400, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Embed content (Gemini format)
  Creates embeddings using Google Gemini API format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `model` (String.t): Model name with action (e.g., embedding-001:embedContent)
  - `gemini_embedding_request` (GeminiEmbeddingRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GeminiEmbeddingResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_embed_content(Tesla.Env.client(), String.t(), ExBifrost.Model.GeminiEmbeddingRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.GeminiError.t()}
          | {:ok, ExBifrost.Model.GeminiEmbeddingResponse.t()}
          | {:error, Tesla.Env.t()}
  def gemini_embed_content(connection, model, gemini_embedding_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/genai/v1beta/models/#{model}:embedContent")
      |> add_param(:body, :body, gemini_embedding_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GeminiEmbeddingResponse},
      {400, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Generate content (Gemini format)
  Generates content using Google Gemini API format. The model is specified in the URL path. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `model` (String.t): Model name with action (e.g., gemini-pro:generateContent)
  - `gemini_generation_request` (GeminiGenerationRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GeminiGenerationResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_generate_content(Tesla.Env.client(), String.t(), ExBifrost.Model.GeminiGenerationRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.GeminiError.t()}
          | {:ok, ExBifrost.Model.GeminiGenerationResponse.t()}
          | {:error, Tesla.Env.t()}
  def gemini_generate_content(connection, model, gemini_generation_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/genai/v1beta/models/#{model}:generateContent")
      |> add_param(:body, :body, gemini_generation_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GeminiGenerationResponse},
      {400, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Generate image (Gemini format)
  For Imagen models, use the `:predict` suffix (e.g., `imagen-3.0-generate-001:predict`). For Gemini models, use `:generateContent` with `generationConfig.responseModalities: [\"IMAGE\"]` in the request body. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `model` (String.t): Model name with action suffix. For Imagen models, use `:predict` (e.g., `imagen-3.0-generate-001:predict`). For Gemini models with image generation, use `:generateContent` (e.g., `gemini-1.5-pro:generateContent`). 
  - `gemini_generation_request` (GeminiGenerationRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GeminiGenerationResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_generate_image(Tesla.Env.client(), String.t(), ExBifrost.Model.GeminiGenerationRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.GeminiError.t()}
          | {:ok, ExBifrost.Model.GeminiGenerationResponse.t()}
          | {:error, Tesla.Env.t()}
  def gemini_generate_image(connection, model, gemini_generation_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/genai/v1beta/models/#{model}:predict")
      |> add_param(:body, :body, gemini_generation_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GeminiGenerationResponse},
      {400, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  List batch jobs (Gemini format)
  Lists batch jobs in Gemini format. Supports `pageSize` / `pageToken` pagination.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:pageSize` (integer()): 
    - `:pageToken` (String.t): 

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_list_batches(Tesla.Env.client(), keyword()) ::
          {:ok, %{optional(String.t()) => any()}} | {:ok, ExBifrost.Model.GeminiError.t()} | {:error, Tesla.Env.t()}
  def gemini_list_batches(connection, opts \\ []) do
    optional_params = %{
      :pageSize => :query,
      :pageToken => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/genai/v1beta/batches")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {400, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  List cached content entries (Gemini format)

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:pageSize` (integer()): 
    - `:pageToken` (String.t): 
    - `:"x-model-provider"` (String.t): 

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_list_cached_contents(Tesla.Env.client(), keyword()) ::
          {:ok, %{optional(String.t()) => any()}} | {:ok, ExBifrost.Model.GeminiError.t()} | {:error, Tesla.Env.t()}
  def gemini_list_cached_contents(connection, opts \\ []) do
    optional_params = %{
      :pageSize => :query,
      :pageToken => :query,
      :"x-model-provider" => :headers
    }

    request =
      %{}
      |> method(:get)
      |> url("/genai/v1beta/cachedContents")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  List files (Gemini format)
  Lists uploaded files in Google Gemini API format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:pageSize` (integer()): Maximum number of files to return
    - `:pageToken` (String.t): Page token for pagination

  ### Returns

  - `{:ok, ExBifrost.Model.GeminiListFiles200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_list_files(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.GeminiError.t()}
          | {:ok, ExBifrost.Model.GeminiListFiles200Response.t()}
          | {:error, Tesla.Env.t()}
  def gemini_list_files(connection, opts \\ []) do
    optional_params = %{
      :pageSize => :query,
      :pageToken => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/genai/v1beta/files")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GeminiListFiles200Response},
      {400, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  List models (Gemini format)
  Lists available models in Google Gemini API format. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:pageSize` (integer()): Maximum number of models to return
    - `:pageToken` (String.t): Page token for pagination

  ### Returns

  - `{:ok, ExBifrost.Model.GeminiListModelsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_list_models(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.GeminiListModelsResponse.t()}
          | {:ok, ExBifrost.Model.GeminiError.t()}
          | {:error, Tesla.Env.t()}
  def gemini_list_models(connection, opts \\ []) do
    optional_params = %{
      :pageSize => :query,
      :pageToken => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/genai/v1beta/models")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GeminiListModelsResponse},
      {400, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Retrieve a batch job (Gemini format)

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `batch_id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_retrieve_batch(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, %{optional(String.t()) => any()}} | {:ok, ExBifrost.Model.GeminiError.t()} | {:error, Tesla.Env.t()}
  def gemini_retrieve_batch(connection, batch_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/genai/v1beta/batches/#{batch_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {404, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Retrieve cached content (Gemini format)

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `cached_id` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:"x-model-provider"` (String.t): 

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_retrieve_cached_content(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, %{optional(String.t()) => any()}} | {:ok, ExBifrost.Model.GeminiError.t()} | {:error, Tesla.Env.t()}
  def gemini_retrieve_cached_content(connection, cached_id, opts \\ []) do
    optional_params = %{
      :"x-model-provider" => :headers
    }

    request =
      %{}
      |> method(:get)
      |> url("/genai/v1beta/cachedContents/#{cached_id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {404, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Retrieve file (Gemini format)
  Retrieves file metadata in Google Gemini API format.  Note: This endpoint returns file metadata only. Direct file content download is not supported by Gemini Files API. Use the file.uri field from the response to access the file content. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `file_id` (String.t): File ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GeminiUploadFile200ResponseFile.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_retrieve_file(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.GeminiUploadFile200ResponseFile.t()}
          | {:ok, ExBifrost.Model.GeminiError.t()}
          | {:error, Tesla.Env.t()}
  def gemini_retrieve_file(connection, file_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/genai/v1beta/files/#{file_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GeminiUploadFile200ResponseFile},
      {400, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Retrieve video generation operation (Gemini format)
  Polls the status of a long-running video generation operation produced by `models/{model}:generateVideos`. The Gemini SDK appends the operation name as a wildcard path segment. If the operation name contains `/`, it must be percent-encoded in the request path (for example, `%2F`) to remain conformant with OpenAPI 3.x path-parameter semantics. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `model` (String.t): Video model identifier (e.g. `veo-3.1-generate-preview`).
  - `operation_id` (String.t): Operation name. If it contains `/`, it must be percent-encoded in the request path (for example, `%2F`).
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_retrieve_video_operation(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, %{optional(String.t()) => any()}} | {:ok, ExBifrost.Model.GeminiError.t()} | {:error, Tesla.Env.t()}
  def gemini_retrieve_video_operation(connection, model, operation_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/genai/v1beta/models/#{model}/operations/#{operation_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {404, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Stream generate content (Gemini format)
  Streams content generation using Google Gemini API format. The model is specified in the URL path. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `model` (String.t): Model name with action (e.g., gemini-pro:streamGenerateContent)
  - `gemini_generation_request` (GeminiGenerationRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GeminiGenerationResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_stream_generate_content(
          Tesla.Env.client(),
          String.t(),
          ExBifrost.Model.GeminiGenerationRequest.t(),
          keyword()
        ) ::
          {:ok, ExBifrost.Model.GeminiError.t()}
          | {:ok, ExBifrost.Model.GeminiGenerationResponse.t()}
          | {:error, Tesla.Env.t()}
  def gemini_stream_generate_content(connection, model, gemini_generation_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/genai/v1beta/models/#{model}:streamGenerateContent")
      |> add_param(:body, :body, gemini_generation_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GeminiGenerationResponse},
      {400, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Update cached content (Gemini format)
  Updates the TTL or expiration time of a cached content entry. Only `ttl` or `expireTime` may be modified. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `cached_id` (String.t): 
  - `gemini_update_cached_content_request` (GeminiUpdateCachedContentRequest): 
  - `opts` (keyword): Optional parameters
    - `:"x-model-provider"` (String.t): 

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_update_cached_content(
          Tesla.Env.client(),
          String.t(),
          ExBifrost.Model.GeminiUpdateCachedContentRequest.t(),
          keyword()
        ) :: {:ok, %{optional(String.t()) => any()}} | {:ok, ExBifrost.Model.GeminiError.t()} | {:error, Tesla.Env.t()}
  def gemini_update_cached_content(connection, cached_id, gemini_update_cached_content_request, opts \\ []) do
    optional_params = %{
      :"x-model-provider" => :headers
    }

    request =
      %{}
      |> method(:patch)
      |> url("/genai/v1beta/cachedContents/#{cached_id}")
      |> add_param(:body, :body, gemini_update_cached_content_request)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {400, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Upload file (Gemini format)
  Uploads a file using Google Gemini API format.  This is a multipart upload with two parts: - \"metadata\": JSON object containing file metadata - \"file\": Binary file content  Note: Direct file content download is not supported by Gemini Files API. Use the file.uri field from the response to access uploaded files. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `file` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:metadata` (ExBifrost.Model.GeminiUploadFileRequestMetadata.t): 

  ### Returns

  - `{:ok, ExBifrost.Model.GeminiUploadFile200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gemini_upload_file(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.GeminiUploadFile200Response.t()}
          | {:ok, ExBifrost.Model.GeminiError.t()}
          | {:error, Tesla.Env.t()}
  def gemini_upload_file(connection, file, opts \\ []) do
    optional_params = %{
      :metadata => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/genai/upload/v1beta/files")
      |> add_param(:file, :file, file)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GeminiUploadFile200Response},
      {400, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end

  @doc """
  Rerank documents (Vertex Rank)
  Reranks records using Google Vertex AI's Ranking API. The request body follows the Vertex `rankRecords` schema. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `vertex_rank_request` (VertexRankRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec vertex_rank(Tesla.Env.client(), ExBifrost.Model.VertexRankRequest.t(), keyword()) ::
          {:ok, %{optional(String.t()) => any()}} | {:ok, ExBifrost.Model.GeminiError.t()} | {:error, Tesla.Env.t()}
  def vertex_rank(connection, vertex_rank_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/genai/v1/rank")
      |> add_param(:body, :body, vertex_rank_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {400, ExBifrost.Model.GeminiError},
      {500, ExBifrost.Model.GeminiError}
    ])
  end
end
