# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Images do
  @moduledoc """
  API calls for all endpoints tagged `Images`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Edit an image
  Edits an image using a text prompt and optional mask. Request must be sent as multipart/form-data with at least `model`, `prompt` (unless `type` is `background_removal`), and `image` (or `image[]`). 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `model` (String.t): Model identifier in format `provider/model`
  - `image` (String.t): Image file to edit. Use field name `image` for a single file or `image[]` for multiple files. 
  - `opts` (keyword): Optional parameters
    - `:prompt` (String.t): Text prompt describing the edit. Required unless `type` is `background_removal`. 
    - `:mask` (String.t): Optional mask image for inpainting (transparent areas indicate regions to edit)
    - `:type` (String.t): Type of edit operation
    - `:n` (integer()): Number of images to generate
    - `:size` (String.t): Size of the output image
    - `:response_format` (String.t): Format of the response
    - `:stream` (boolean()): When true, stream the response via Server-Sent Events
    - `:background` (String.t): Background type for the image
    - `:input_fidelity` (String.t): How closely to follow the original image
    - `:partial_images` (integer()): Number of partial images to generate when streaming
    - `:quality` (String.t): Quality of the output image
    - `:output_format` (String.t): Output image format
    - `:num_inference_steps` (integer()): Number of inference steps
    - `:seed` (integer()): Seed for reproducible editing
    - `:output_compression` (integer()): Compression level (0-100%)
    - `:negative_prompt` (String.t): What to avoid in the edit
    - `:user` (String.t): User identifier for tracking
    - `:fallbacks` ([ExBifrost.Model.Fallback.t]): Fallback models to try if primary model fails

  ### Returns

  - `{:ok, ExBifrost.Model.ImageGeneration200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec image_edit(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.ImageGeneration200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def image_edit(connection, model, image, opts \\ []) do
    optional_params = %{
      :prompt => :form,
      :mask => :form,
      :type => :form,
      :n => :form,
      :size => :form,
      :response_format => :form,
      :stream => :form,
      :background => :form,
      :input_fidelity => :form,
      :partial_images => :form,
      :quality => :form,
      :output_format => :form,
      :num_inference_steps => :form,
      :seed => :form,
      :output_compression => :form,
      :negative_prompt => :form,
      :user => :form,
      :fallbacks => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/v1/images/edits")
      |> add_param(:form, :model, model)
      |> add_param(:file, :image, image)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ImageGeneration200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Generate an image
  Generates images from text prompts using the specified model. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `image_generation_request` (ImageGenerationRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ImageGeneration200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec image_generation(Tesla.Env.client(), ExBifrost.Model.ImageGenerationRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.ImageGeneration200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def image_generation(connection, image_generation_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/images/generations")
      |> add_param(:body, :body, image_generation_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ImageGeneration200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Create Variation
  Creates variations of an image. Request must be sent as multipart/form-data with `model` and `image` (or `image[]`). Does not support streaming. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `model` (String.t): Model identifier in format `provider/model`
  - `image` (String.t): Image file to create variations of. Use field name `image` for a single file or `image[]` for multiple (first image is used). 
  - `opts` (keyword): Optional parameters
    - `:n` (integer()): Number of variations to generate
    - `:size` (String.t): Size of the output images
    - `:response_format` (String.t): Format of the response
    - `:user` (String.t): User identifier for tracking
    - `:fallbacks` ([ExBifrost.Model.Fallback.t]): Fallback models to try if primary model fails

  ### Returns

  - `{:ok, ExBifrost.Model.ImageGeneration200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec image_variation(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.ImageGeneration200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def image_variation(connection, model, image, opts \\ []) do
    optional_params = %{
      :n => :form,
      :size => :form,
      :response_format => :form,
      :user => :form,
      :fallbacks => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/v1/images/variations")
      |> add_param(:form, :model, model)
      |> add_param(:file, :image, image)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ImageGeneration200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
