# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.MCPToolGroups do
  @moduledoc """
  API calls for all endpoints tagged `MCPToolGroups`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Create MCP Tool Group
  Creates a new tool group along with its attachments in a single transaction. Validates that every `mcp_client_id` points to a deployed MCP client and that every named tool exists on its server. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `create_mcp_tool_group_request` (CreateMcpToolGroupRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreateMcpToolGroup201Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_mcp_tool_group(Tesla.Env.client(), ExBifrost.Model.CreateMcpToolGroupRequest.t(), keyword()) ::
          {:ok, nil}
          | {:ok, ExBifrost.Model.CreateMcpToolGroup201Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def create_mcp_tool_group(connection, create_mcp_tool_group_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/mcp/tool-groups")
      |> add_param(:body, :body, create_mcp_tool_group_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, ExBifrost.Model.CreateMcpToolGroup201Response},
      {400, false},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Delete MCP Tool Group
  Deletes the group; attachments are removed automatically.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (integer()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.DeleteMcpToolGroup200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_mcp_tool_group(Tesla.Env.client(), integer(), keyword()) ::
          {:ok, nil}
          | {:ok, ExBifrost.Model.DeleteMcpToolGroup200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def delete_mcp_tool_group(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/api/mcp/tool-groups/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.DeleteMcpToolGroup200Response},
      {404, false},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get MCP Tool Group by ID

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (integer()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreateMcpToolGroup201Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mcp_tool_group(Tesla.Env.client(), integer(), keyword()) ::
          {:ok, nil}
          | {:ok, ExBifrost.Model.CreateMcpToolGroup201Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def get_mcp_tool_group(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/mcp/tool-groups/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CreateMcpToolGroup201Response},
      {404, false},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List MCP Tool Groups
  Returns tool groups visible to the caller. When all of `limit`, `offset`, and `search` are omitted, every group is returned in one response. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): 
    - `:offset` (integer()): 
    - `:search` (String.t): Search by name.

  ### Returns

  - `{:ok, ExBifrost.Model.ListMcpToolGroups200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_mcp_tool_groups(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.ListMcpToolGroups200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def list_mcp_tool_groups(connection, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query,
      :search => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/mcp/tool-groups")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListMcpToolGroups200Response},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Update MCP Tool Group
  Partial update. Scalar fields preserve the current value when omitted. Array fields are replace-on-send: an empty array clears all attachments in that dimension. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (integer()): 
  - `update_mcp_tool_group_request` (UpdateMcpToolGroupRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreateMcpToolGroup201Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_mcp_tool_group(Tesla.Env.client(), integer(), ExBifrost.Model.UpdateMcpToolGroupRequest.t(), keyword()) ::
          {:ok, nil}
          | {:ok, ExBifrost.Model.CreateMcpToolGroup201Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def update_mcp_tool_group(connection, id, update_mcp_tool_group_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/mcp/tool-groups/#{id}")
      |> add_param(:body, :body, update_mcp_tool_group_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CreateMcpToolGroup201Response},
      {400, false},
      {404, false},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
