# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Models do
  @moduledoc """
  API calls for all endpoints tagged `Models`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  List available models
  Lists available models. If provider is not specified, lists all models from all configured providers.  If a virtual key is provided, Bifrost only lists (and only queries) providers allowed by that virtual key. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:provider` (ModelProvider): Filter by provider (e.g., openai, anthropic, bedrock)
    - `:page_size` (integer()): Maximum number of models to return
    - `:page_token` (String.t): Token for pagination

  ### Returns

  - `{:ok, ExBifrost.Model.ListModelsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_models(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.ListModelsResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def list_models(connection, opts \\ []) do
    optional_params = %{
      :provider => :query,
      :page_size => :query,
      :page_token => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/models")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListModelsResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
