# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Plugins do
  @moduledoc """
  API calls for all endpoints tagged `Plugins`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Create a new plugin
  Creates a new plugin with the specified configuration.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `create_plugin_request` (CreatePluginRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreatePlugin201Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_plugin(Tesla.Env.client(), ExBifrost.Model.CreatePluginRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.CreatePlugin201Response.t()}
          | {:error, Tesla.Env.t()}
  def create_plugin(connection, create_plugin_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/plugins")
      |> add_param(:body, :body, create_plugin_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, ExBifrost.Model.CreatePlugin201Response},
      {400, ExBifrost.Model.BifrostError},
      {409, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Delete a plugin
  Removes a plugin from the configuration and stops it if running.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `name` (String.t): Plugin display name (the config field `name`, not the internal `actualName` from GetName())
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.MessageResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_plugin(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.MessageResponse.t()} | {:ok, ExBifrost.Model.BifrostError.t()} | {:error, Tesla.Env.t()}
  def delete_plugin(connection, name, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/api/plugins/#{name}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.MessageResponse},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get a specific plugin
  Returns the configuration for a specific plugin. The response includes the plugin status with types array showing which interfaces the plugin implements (llm, mcp, http). The `actualName` field shows the plugin name from GetName() (used as the map key), which may differ from the display name (`name`). 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `name` (String.t): Plugin display name (the config field `name`, not the internal `actualName` from GetName())
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.Plugin.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_plugin(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.Plugin.t()} | {:ok, ExBifrost.Model.BifrostError.t()} | {:error, Tesla.Env.t()}
  def get_plugin(connection, name, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/plugins/#{name}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.Plugin},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List built-in plugin names
  Returns the canonical list of built-in plugin names available in this Bifrost build. Use this to discover which plugins can be enabled without supplying a custom binary. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ListBuiltinPlugins200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_builtin_plugins(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.ListBuiltinPlugins200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def list_builtin_plugins(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/plugins/builtins")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListBuiltinPlugins200Response},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List all plugins
  Returns a list of all plugins with their configurations and status. The `actualName` field contains the plugin name from `GetName()` (used as the map key), while `name` contains the display name from the configuration. The `types` array in the status shows which interfaces the plugin implements (llm, mcp, http). 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ListPluginsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_plugins(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ListPluginsResponse.t()}
          | {:error, Tesla.Env.t()}
  def list_plugins(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/plugins")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListPluginsResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Update a plugin
  Updates a plugin's configuration. Will reload or stop the plugin based on enabled status. The response `actualName` field shows the plugin name from GetName() (used as the map key), which may differ from the display name (`name`). 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `name` (String.t): Plugin display name (the config field `name`, not the internal `actualName` from GetName())
  - `update_plugin_request` (UpdatePluginRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreatePlugin201Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_plugin(Tesla.Env.client(), String.t(), ExBifrost.Model.UpdatePluginRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.CreatePlugin201Response.t()}
          | {:error, Tesla.Env.t()}
  def update_plugin(connection, name, update_plugin_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/plugins/#{name}")
      |> add_param(:body, :body, update_plugin_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CreatePlugin201Response},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
