# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Providers do
  @moduledoc """
  API calls for all endpoints tagged `Providers`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Add a new provider
  Adds a new provider with the specified configuration.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `add_provider_request` (AddProviderRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ProviderResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_provider(Tesla.Env.client(), ExBifrost.Model.AddProviderRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.ProviderResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def add_provider(connection, add_provider_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/providers")
      |> add_param(:body, :body, add_provider_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ProviderResponse},
      {400, ExBifrost.Model.BifrostError},
      {409, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Create a key for a provider
  Creates a new API key for the specified provider. The key `id` is auto-generated if omitted. `enabled` defaults to `true` if omitted. `value` is required and must not be empty. Keys cannot be created on keyless providers. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `provider` (String.t): Provider name
  - `key` (Key): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.Key.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_provider_key(Tesla.Env.client(), String.t(), ExBifrost.Model.Key.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()} | {:ok, ExBifrost.Model.Key.t()} | {:error, Tesla.Env.t()}
  def create_provider_key(connection, provider, key, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/providers/#{provider}/keys")
      |> add_param(:body, :body, key)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.Key},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {409, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Delete a provider
  Removes a provider from the configuration.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `provider` (String.t): Provider name
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ProviderResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_provider(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.ProviderResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def delete_provider(connection, provider, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/api/providers/#{provider}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ProviderResponse},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Delete a key from a provider
  Deletes a key from the specified provider. Returns the deleted key.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `provider` (String.t): Provider name
  - `key_id` (String.t): Key ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.Key.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_provider_key(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()} | {:ok, ExBifrost.Model.Key.t()} | {:error, Tesla.Env.t()}
  def delete_provider_key(connection, provider, key_id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/api/providers/#{provider}/keys/#{key_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.Key},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get model parameters
  Returns the available parameter definitions for models.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_model_parameters(Tesla.Env.client(), keyword()) ::
          {:ok, %{optional(String.t()) => any()}} | {:ok, ExBifrost.Model.BifrostError.t()} | {:error, Tesla.Env.t()}
  def get_model_parameters(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/models/parameters")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get a specific provider
  Returns the configuration for a specific provider.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `provider` (String.t): Provider name
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ProviderResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_provider(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.ProviderResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def get_provider(connection, provider, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/providers/#{provider}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ProviderResponse},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get a specific key for a provider
  Returns a single key for the specified provider.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `provider` (String.t): Provider name
  - `key_id` (String.t): Key ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.Key.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_provider_key(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()} | {:ok, ExBifrost.Model.Key.t()} | {:error, Tesla.Env.t()}
  def get_provider_key(connection, provider, key_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/providers/#{provider}/keys/#{key_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.Key},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List base models
  Returns a list of base models from the model catalog.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:query` (String.t): Filter models by name
    - `:provider` (String.t): Filter by provider
    - `:limit` (integer()): Maximum number of results to return

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_base_models(Tesla.Env.client(), keyword()) ::
          {:ok, %{optional(String.t()) => any()}} | {:ok, ExBifrost.Model.BifrostError.t()} | {:error, Tesla.Env.t()}
  def list_base_models(connection, opts \\ []) do
    optional_params = %{
      :query => :query,
      :provider => :query,
      :limit => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/models/base")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List all keys
  Returns a list of all configured API keys across all providers.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%Key{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_keys(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()} | {:ok, [ExBifrost.Model.Key.t()]} | {:error, Tesla.Env.t()}
  def list_keys(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/keys")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.Key},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List model details
  Lists available models with capability metadata, when available from the model catalog, with optional filtering by query, provider, or keys. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:query` (String.t): Filter models by name (case-insensitive partial match)
    - `:provider` (String.t): Filter by specific provider name
    - `:keys` ([String.t]): Comma-separated list of key IDs to filter models accessible by those keys
    - `:limit` (integer()): Maximum number of results to return (default 20)
    - `:unfiltered` (boolean()): If true, return all models including those filtered out by provider-level restrictions

  ### Returns

  - `{:ok, ExBifrost.Model.ListModelDetailsManagement200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_model_details_management(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ListModelDetailsManagement200Response.t()}
          | {:error, Tesla.Env.t()}
  def list_model_details_management(connection, opts \\ []) do
    optional_params = %{
      :query => :query,
      :provider => :query,
      :keys => :query,
      :limit => :query,
      :unfiltered => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/models/details")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListModelDetailsManagement200Response},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List models
  Lists available models with optional filtering by query, provider, or keys. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:query` (String.t): Filter models by name (case-insensitive partial match)
    - `:provider` (String.t): Filter by specific provider name
    - `:keys` ([String.t]): Comma-separated list of key IDs to filter models accessible by those keys
    - `:limit` (integer()): Maximum number of results to return (default 5)
    - `:unfiltered` (boolean()): If true, return all models including those filtered out by provider-level restrictions

  ### Returns

  - `{:ok, ExBifrost.Model.ListModelsManagement200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_models_management(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ListModelsManagement200Response.t()}
          | {:error, Tesla.Env.t()}
  def list_models_management(connection, opts \\ []) do
    optional_params = %{
      :query => :query,
      :provider => :query,
      :keys => :query,
      :limit => :query,
      :unfiltered => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/models")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListModelsManagement200Response},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List keys for a provider
  Returns all keys configured for a specific provider.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `provider` (String.t): Provider name
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ListProviderKeysResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_provider_keys(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ListProviderKeysResponse.t()}
          | {:error, Tesla.Env.t()}
  def list_provider_keys(connection, provider, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/providers/#{provider}/keys")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListProviderKeysResponse},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List all providers
  Returns a list of all configured providers with their configurations and status.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ListProvidersResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_providers(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.ListProvidersResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def list_providers(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/providers")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListProvidersResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Update a provider
  Updates a provider's configuration. Expects ALL fields to be provided, including both edited and non-edited fields. Partial updates are not supported. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `provider` (String.t): Provider name
  - `update_provider_request` (UpdateProviderRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ProviderResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_provider(Tesla.Env.client(), String.t(), ExBifrost.Model.UpdateProviderRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.ProviderResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def update_provider(connection, provider, update_provider_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/providers/#{provider}")
      |> add_param(:body, :body, update_provider_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ProviderResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Update a key for a provider
  Updates an existing key. Send the full key object. Redacted values sent back unchanged are automatically preserved (the server merges them with the stored raw values). 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `provider` (String.t): Provider name
  - `key_id` (String.t): Key ID
  - `key` (Key): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.Key.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_provider_key(Tesla.Env.client(), String.t(), String.t(), ExBifrost.Model.Key.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()} | {:ok, ExBifrost.Model.Key.t()} | {:error, Tesla.Env.t()}
  def update_provider_key(connection, provider, key_id, key, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/providers/#{provider}/keys/#{key_id}")
      |> add_param(:body, :body, key)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.Key},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
