# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.RBAC do
  @moduledoc """
  API calls for all endpoints tagged `RBAC`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Create role
  Creates a custom role with the specified data access control scope. If `dac` is omitted, defaults to `all-data`. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `create_role_request` (CreateRoleRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreateRole200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_role(Tesla.Env.client(), ExBifrost.Model.CreateRoleRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.CreateRole200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def create_role(connection, create_role_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/roles")
      |> add_param(:body, :body, create_role_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CreateRole200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Delete role
  Deletes a custom role. Built-in system roles cannot be deleted and return 403. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (integer()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.Logout200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_role(Tesla.Env.client(), integer(), keyword()) ::
          {:ok, nil}
          | {:ok, ExBifrost.Model.Logout200Response.t()}
          | {:ok, ExBifrost.Model.GetVirtualKeyQuota401Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def delete_role(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/api/roles/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.Logout200Response},
      {403, ExBifrost.Model.GetVirtualKeyQuota401Response},
      {404, false},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get role by ID

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (integer()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreateRole200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_role(Tesla.Env.client(), integer(), keyword()) ::
          {:ok, nil}
          | {:ok, ExBifrost.Model.CreateRole200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def get_role(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/roles/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CreateRole200Response},
      {404, false},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List permissions assigned to a role

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (integer()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GetRolePermissions200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_role_permissions(Tesla.Env.client(), integer(), keyword()) ::
          {:ok, nil}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.GetRolePermissions200Response.t()}
          | {:error, Tesla.Env.t()}
  def get_role_permissions(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/roles/#{id}/permissions")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GetRolePermissions200Response},
      {404, false},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List RBAC operations
  Returns the set of operation names that permissions can grant.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ListOperations200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_operations(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ListOperations200Response.t()}
          | {:error, Tesla.Env.t()}
  def list_operations(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/operations")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListOperations200Response},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List all RBAC permissions
  Returns every (resource, operation) pair that can be granted to a role.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GetRolePermissions200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_permissions(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.GetRolePermissions200Response.t()}
          | {:error, Tesla.Env.t()}
  def list_permissions(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/permissions")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GetRolePermissions200Response},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List RBAC resources
  Returns the set of resource names that permissions can target.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ListResources200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_resources(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ListResources200Response.t()}
          | {:error, Tesla.Env.t()}
  def list_resources(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/resources")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListResources200Response},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List roles
  Returns all roles visible to the caller, scoped by data access control.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ListRoles200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_roles(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ListRoles200Response.t()}
          | {:error, Tesla.Env.t()}
  def list_roles(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/roles")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListRoles200Response},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Update role
  Partial update. Omitted fields preserve the current value. Notable: omitting `dac` preserves the current scope (does not default to `all-data`). 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (integer()): 
  - `update_role_request` (UpdateRoleRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreateRole200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_role(Tesla.Env.client(), integer(), ExBifrost.Model.UpdateRoleRequest.t(), keyword()) ::
          {:ok, nil}
          | {:ok, ExBifrost.Model.CreateRole200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def update_role(connection, id, update_role_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/roles/#{id}")
      |> add_param(:body, :body, update_role_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CreateRole200Response},
      {400, ExBifrost.Model.BifrostError},
      {404, false},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Replace the permission set on a role
  Replaces the permission set assigned to the role. Send the complete list of permission IDs that should be active for the role. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (integer()): 
  - `update_role_permissions_request` (UpdateRolePermissionsRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.Logout200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_role_permissions(
          Tesla.Env.client(),
          integer(),
          ExBifrost.Model.UpdateRolePermissionsRequest.t(),
          keyword()
        ) ::
          {:ok, nil}
          | {:ok, ExBifrost.Model.Logout200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def update_role_permissions(connection, id, update_role_permissions_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/roles/#{id}/permissions")
      |> add_param(:body, :body, update_role_permissions_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.Logout200Response},
      {400, ExBifrost.Model.BifrostError},
      {404, false},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
