# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Rerank do
  @moduledoc """
  API calls for all endpoints tagged `Rerank`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Rerank documents
  Reorders input documents by relevance to a query. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `rerank_request` (RerankRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.RerankResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rerank_documents(Tesla.Env.client(), ExBifrost.Model.RerankRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.RerankResponse.t()} | {:ok, ExBifrost.Model.BifrostError.t()} | {:error, Tesla.Env.t()}
  def rerank_documents(connection, rerank_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/rerank")
      |> add_param(:body, :body, rerank_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.RerankResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
