# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Responses do
  @moduledoc """
  API calls for all endpoints tagged `Responses`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Create a response
  Creates a response using the OpenAI Responses API format. Supports streaming via SSE. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `responses_request` (ResponsesRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ResponsesResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_response(Tesla.Env.client(), ExBifrost.Model.ResponsesRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.ResponsesResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def create_response(connection, responses_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/responses")
      |> add_param(:body, :body, responses_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ResponsesResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Responses API over WebSocket
  Upgrades the connection to a WebSocket and runs the OpenAI Responses API in WebSocket Mode. Clients send `response.create` events on the socket and receive streamed events through the standard inference pipeline (PreLLMHook, key selection, provider call, PostLLMHook).  Auth is identical to the HTTP POST variant — Bearer/Basic/Virtual Key/API Key may be supplied as request headers on the upgrade request. The OpenAI SDK can also pass an API key via the `openai-insecure-api-key.<key>` WebSocket subprotocol.  This GET endpoint shares its path with the POST inference endpoint; route selection is based on the `Upgrade: websocket` request header. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `upgrade` (String.t): Must be `websocket`
  - `opts` (keyword): Optional parameters
    - `:"Sec-WebSocket-Protocol"` (String.t): Optional WebSocket subprotocol. Use `openai-insecure-api-key.<key>` to authenticate when headers cannot be supplied by the client. 

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_response_web_socket(Tesla.Env.client(), String.t(), keyword()) :: {:ok, nil} | {:error, Tesla.Env.t()}
  def create_response_web_socket(connection, upgrade, opts \\ []) do
    optional_params = %{
      :"Sec-WebSocket-Protocol" => :headers
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/responses")
      |> add_param(:headers, :Upgrade, upgrade)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {101, false},
      {401, false},
      {429, false}
    ])
  end
end
