# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Session do
  @moduledoc """
  API calls for all endpoints tagged `Session`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Check if authentication is enabled
  Returns whether authentication is enabled and if the current token is valid.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.IsAuthEnabledResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec is_auth_enabled(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.IsAuthEnabledResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def is_auth_enabled(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/session/is-auth-enabled")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.IsAuthEnabledResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Issue WebSocket ticket
  Issues a short-lived ticket for authenticating WebSocket connections. The ticket can be used as a query parameter when upgrading to WebSocket. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.IssueWsTicket200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec issue_ws_ticket(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.IssueWsTicket200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def issue_ws_ticket(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/session/ws-ticket")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.IssueWsTicket200Response},
      {403, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Login
  Authenticates a user and returns a session token. Sets a cookie with the session token for subsequent requests. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `login_request` (LoginRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.LoginResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec login(Tesla.Env.client(), ExBifrost.Model.LoginRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.LoginResponse.t()} | {:ok, ExBifrost.Model.BifrostError.t()} | {:error, Tesla.Env.t()}
  def login(connection, login_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/session/login")
      |> add_param(:body, :body, login_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.LoginResponse},
      {400, ExBifrost.Model.BifrostError},
      {401, ExBifrost.Model.BifrostError},
      {403, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Logout
  Logs out the current user and invalidates the session token.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.Logout200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec logout(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.Logout200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def logout(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/session/logout")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.Logout200Response},
      {403, ExBifrost.Model.BifrostError}
    ])
  end
end
