# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Skills do
  @moduledoc """
  API calls for all endpoints tagged `Skills`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Bump all-skills version
  Manually bumps the synthetic `bifrost-all-skills` plugin version as an escape hatch for marketplace refreshes.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `bump_all_skills_version_request` (BumpAllSkillsVersionRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.AllSkillsVersionResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec bump_all_skills_version(Tesla.Env.client(), ExBifrost.Model.BumpAllSkillsVersionRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.AllSkillsVersionResponse.t()}
          | {:error, Tesla.Env.t()}
  def bump_all_skills_version(connection, bump_all_skills_version_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/skills/all/version")
      |> add_param(:body, :body, bump_all_skills_version_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.AllSkillsVersionResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Clean up orphan skill files
  Deletes uploaded files that are not attached to any skill version. This is mostly a maintenance escape hatch: Bifrost also runs orphan cleanup on server startup. Non-forced cleanup preserves uploads newer than 24 hours so files are not deleted while a skill is still being edited. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:force` (boolean()): Bypass the 24-hour grace period when true.

  ### Returns

  - `{:ok, ExBifrost.Model.SkillOrphanCleanupResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec cleanup_orphan_skill_files(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.SkillOrphanCleanupResponse.t()}
          | {:error, Tesla.Env.t()}
  def cleanup_orphan_skill_files(connection, opts \\ []) do
    optional_params = %{
      :force => :query
    }

    request =
      %{}
      |> method(:delete)
      |> url("/api/skills/files/orphans")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.SkillOrphanCleanupResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Create skill
  Creates a new skill and immediately serves its first immutable version.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `create_skill_request` (CreateSkillRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.SkillResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_skill(Tesla.Env.client(), ExBifrost.Model.CreateSkillRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.SkillResponse.t()} | {:ok, ExBifrost.Model.BifrostError.t()} | {:error, Tesla.Env.t()}
  def create_skill(connection, create_skill_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/skills")
      |> add_param(:body, :body, create_skill_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.SkillResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Delete skill
  Deletes a skill and all of its versions.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): Skill ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.MessageResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_skill(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.MessageResponse.t()} | {:ok, ExBifrost.Model.BifrostError.t()} | {:error, Tesla.Env.t()}
  def delete_skill(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/api/skills/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.MessageResponse},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Download all skills as ZIP
  Public ZIP download containing every currently served skill.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec download_all_skills(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()} | {:ok, String.t()} | {:error, Tesla.Env.t()}
  def download_all_skills(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/skills/serve/all/download.zip")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Download skill as ZIP
  Public ZIP download containing a single currently served skill.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `skill_name` (String.t): Skill name.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec download_skill(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()} | {:ok, String.t()} | {:error, Tesla.Env.t()}
  def download_skill(connection, skill_name, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/skills/serve/#{skill_name}/download.zip")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Download skill file
  Public raw file download from the currently served version of a skill.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `skill_name` (String.t): Skill name.
  - `filepath` (String.t): Relative file path inside the skill package.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec download_skill_file(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()} | {:ok, String.t()} | {:error, Tesla.Env.t()}
  def download_skill_file(connection, skill_name, filepath, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/skills/serve/#{skill_name}/files/#{filepath}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get all-skills version
  Returns the current version of the synthetic `bifrost-all-skills` marketplace plugin.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.AllSkillsVersionResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_all_skills_version(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.AllSkillsVersionResponse.t()}
          | {:error, Tesla.Env.t()}
  def get_all_skills_version(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/skills/all/version")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.AllSkillsVersionResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get Claude Code skills marketplace
  Public marketplace JSON consumed by Claude Code. Available only when the Bifrost server can access the `git` binary.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ClaudeCodeSkillMarketplace.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_claude_code_skills_marketplace(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ClaudeCodeSkillMarketplace.t()}
          | {:error, Tesla.Env.t()}
  def get_claude_code_skills_marketplace(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/skills/serve/claude-code/.claude-plugin/marketplace.json")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ClaudeCodeSkillMarketplace},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get Codex skills marketplace JSON
  Public Codex marketplace JSON for inspecting the skills and plugin sources exposed by Bifrost.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CodexSkillMarketplace.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_codex_skills_marketplace(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.CodexSkillMarketplace.t()}
          | {:error, Tesla.Env.t()}
  def get_codex_skills_marketplace(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/skills/serve/codex/.agents/plugins/marketplace.json")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CodexSkillMarketplace},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get skill
  Returns a skill by ID. Pass `version` to inspect a historical version snapshot.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): Skill ID
  - `opts` (keyword): Optional parameters
    - `:version` (String.t): Optional version to load instead of the currently served version.

  ### Returns

  - `{:ok, ExBifrost.Model.SkillResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_skill(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.SkillResponse.t()} | {:ok, ExBifrost.Model.BifrostError.t()} | {:error, Tesla.Env.t()}
  def get_skill(connection, id, opts \\ []) do
    optional_params = %{
      :version => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/skills/#{id}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.SkillResponse},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List skill versions
  Returns immutable version snapshots for a skill.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): Skill ID
  - `opts` (keyword): Optional parameters
    - `:search` (String.t): Search versions by version string.
    - `:sort_by` (String.t): Field to sort by.
    - `:order` (String.t): Sort order.
    - `:limit` (integer()): Number of versions to return. Maximum 100.
    - `:offset` (integer()): Number of versions to skip.

  ### Returns

  - `{:ok, ExBifrost.Model.ListSkillVersionsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_skill_versions(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.ListSkillVersionsResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def list_skill_versions(connection, id, opts \\ []) do
    optional_params = %{
      :search => :query,
      :sort_by => :query,
      :order => :query,
      :limit => :query,
      :offset => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/skills/#{id}/versions")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListSkillVersionsResponse},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List skills
  Returns a paginated list of skills from the Skills Repository.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:search` (String.t): Search by skill name or description.
    - `:sort_by` (String.t): Field to sort by.
    - `:order` (String.t): Sort order.
    - `:limit` (integer()): Number of skills to return. Maximum 100.
    - `:offset` (integer()): Number of skills to skip.

  ### Returns

  - `{:ok, ExBifrost.Model.ListSkillsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_skills(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.ListSkillsResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def list_skills(connection, opts \\ []) do
    optional_params = %{
      :search => :query,
      :sort_by => :query,
      :order => :query,
      :limit => :query,
      :offset => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/skills")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListSkillsResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Shift served skill version
  Changes the served version for a skill without deleting newer versions.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): Skill ID
  - `shift_skill_version_request` (ShiftSkillVersionRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.SkillResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec shift_skill_version(Tesla.Env.client(), String.t(), ExBifrost.Model.ShiftSkillVersionRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.SkillResponse.t()} | {:ok, ExBifrost.Model.BifrostError.t()} | {:error, Tesla.Env.t()}
  def shift_skill_version(connection, id, shift_skill_version_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/skills/#{id}/shift-version")
      |> add_param(:body, :body, shift_skill_version_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.SkillResponse},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Update skill
  Creates a new immutable skill version. Set `serve` to false to save the version without switching the served version.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): Skill ID
  - `update_skill_request` (UpdateSkillRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.SkillResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_skill(Tesla.Env.client(), String.t(), ExBifrost.Model.UpdateSkillRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.SkillResponse.t()} | {:ok, ExBifrost.Model.BifrostError.t()} | {:error, Tesla.Env.t()}
  def update_skill(connection, id, update_skill_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/skills/#{id}")
      |> add_param(:body, :body, update_skill_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.SkillResponse},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Upload skill file
  Uploads one file for later attachment to a skill version. The response contains either an object-storage key or a database blob ID.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `file` (String.t): File to upload. Exactly one file part is accepted.
  - `opts` (keyword): Optional parameters
    - `:path` (String.t): Optional relative path to store with the uploaded file.

  ### Returns

  - `{:ok, ExBifrost.Model.UploadSkillFileResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec upload_skill_file(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.UploadSkillFileResponse.t()}
          | {:error, Tesla.Env.t()}
  def upload_skill_file(connection, file, opts \\ []) do
    optional_params = %{
      :path => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/api/skills/files/upload")
      |> add_param(:file, :file, file)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.UploadSkillFileResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
