# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Teams do
  @moduledoc """
  API calls for all endpoints tagged `Teams`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Add team member
  Adds a user to a team. Both the team and user must exist.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): Team ID
  - `add_team_member_request` (AddTeamMemberRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.MessageResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_team_member(Tesla.Env.client(), String.t(), ExBifrost.Model.AddTeamMemberRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.MessageResponse.t()}
          | {:ok, ExBifrost.Model.ManagementErrorResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def add_team_member(connection, id, add_team_member_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/teams/#{id}/members")
      |> add_param(:body, :body, add_team_member_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.MessageResponse},
      {404, ExBifrost.Model.ManagementErrorResponse},
      {409, ExBifrost.Model.ManagementErrorResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Create team
  Creates a new team. The team ID is derived from the name.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `create_team_request` (CreateTeamRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreateTeam200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_team(Tesla.Env.client(), ExBifrost.Model.CreateTeamRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.CreateTeam200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ManagementErrorResponse.t()}
          | {:error, Tesla.Env.t()}
  def create_team(connection, create_team_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/teams")
      |> add_param(:body, :body, create_team_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CreateTeam200Response},
      {400, ExBifrost.Model.BifrostError},
      {409, ExBifrost.Model.ManagementErrorResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Delete team
  Permanently removes a team.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): Team ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.MessageResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_team(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.MessageResponse.t()}
          | {:ok, ExBifrost.Model.ManagementErrorResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def delete_team(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/api/teams/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.MessageResponse},
      {404, ExBifrost.Model.ManagementErrorResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get team
  Returns details of a specific team including member count.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): Team ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.ListTeams200ResponseTeamsInner.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_team(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.ListTeams200ResponseTeamsInner.t()}
          | {:ok, ExBifrost.Model.ManagementErrorResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def get_team(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/teams/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListTeams200ResponseTeamsInner},
      {404, ExBifrost.Model.ManagementErrorResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List team members
  Returns all members of a team with their user details and membership source.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): Team ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GetTeamMembers200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_team_members(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.GetTeamMembers200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ManagementErrorResponse.t()}
          | {:error, Tesla.Env.t()}
  def get_team_members(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/teams/#{id}/members")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GetTeamMembers200Response},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.ManagementErrorResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List teams
  Returns a paginated list of teams with optional search.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:page` (integer()): Page number (1-based)
    - `:limit` (integer()): Number of teams per page (max 100)
    - `:search` (String.t): Search by team name

  ### Returns

  - `{:ok, ExBifrost.Model.ListTeams200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_teams(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ListTeams200Response.t()}
          | {:error, Tesla.Env.t()}
  def list_teams(connection, opts \\ []) do
    optional_params = %{
      :page => :query,
      :limit => :query,
      :search => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/teams")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListTeams200Response},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Remove team member
  Removes a user from a team.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): Team ID
  - `user_id` (String.t): User ID to remove
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.MessageResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec remove_team_member(Tesla.Env.client(), String.t(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.MessageResponse.t()}
          | {:ok, ExBifrost.Model.ManagementErrorResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def remove_team_member(connection, id, user_id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/api/teams/#{id}/members/#{user_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.MessageResponse},
      {404, ExBifrost.Model.ManagementErrorResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Update team
  Updates a team. Note that renaming teams is not allowed.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): Team ID
  - `update_team_request` (UpdateTeamRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreateTeam200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_team(Tesla.Env.client(), String.t(), ExBifrost.Model.UpdateTeamRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.CreateTeam200Response.t()}
          | {:ok, ExBifrost.Model.ManagementErrorResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def update_team(connection, id, update_team_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/teams/#{id}")
      |> add_param(:body, :body, update_team_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CreateTeam200Response},
      {400, ExBifrost.Model.ManagementErrorResponse},
      {404, ExBifrost.Model.ManagementErrorResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
