# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.TextCompletions do
  @moduledoc """
  API calls for all endpoints tagged `TextCompletions`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Create a text completion
  Creates a completion for the provided prompt. Supports streaming via SSE. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `text_completion_request` (TextCompletionRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.TextCompletionResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_text_completion(Tesla.Env.client(), ExBifrost.Model.TextCompletionRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.TextCompletionResponse.t()}
          | {:error, Tesla.Env.t()}
  def create_text_completion(connection, text_completion_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/completions")
      |> add_param(:body, :body, text_completion_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.TextCompletionResponse},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
