# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Users do
  @moduledoc """
  API calls for all endpoints tagged `Users`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Assign role to user
  Assigns an RBAC role to a user. This also auto-assigns the default access profile for the new role and reloads the RBAC permission cache. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): User ID
  - `assign_user_role_request` (AssignUserRoleRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.MessageResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec assign_user_role(Tesla.Env.client(), String.t(), ExBifrost.Model.AssignUserRoleRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.MessageResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ManagementErrorResponse.t()}
          | {:error, Tesla.Env.t()}
  def assign_user_role(connection, id, assign_user_role_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/users/#{id}/role")
      |> add_param(:body, :body, assign_user_role_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.MessageResponse},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.ManagementErrorResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Create user
  Manually creates a new user in the organization.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `create_user_request` (CreateUserRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.CreateUser200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_user(Tesla.Env.client(), ExBifrost.Model.CreateUserRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.CreateUser200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ManagementErrorResponse.t()}
          | {:error, Tesla.Env.t()}
  def create_user(connection, create_user_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/users")
      |> add_param(:body, :body, create_user_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.CreateUser200Response},
      {400, ExBifrost.Model.BifrostError},
      {409, ExBifrost.Model.ManagementErrorResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Delete user
  Permanently removes a user from the organization. This cascades to delete the user's governance settings (budget/rate limits), team memberships, access profiles, and OIDC sessions. Cannot delete yourself. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): User ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.MessageResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_user(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.MessageResponse.t()}
          | {:ok, ExBifrost.Model.ManagementErrorResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def delete_user(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/api/users/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.MessageResponse},
      {400, ExBifrost.Model.ManagementErrorResponse},
      {404, ExBifrost.Model.ManagementErrorResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get current user permissions
  Returns the RBAC permissions for the authenticated user. When SCIM is not enabled, returns full permissions for all resources. Otherwise returns the permissions associated with the user's assigned role. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GetCurrentUserPermissions200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_current_user_permissions(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.ManagementErrorResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.GetCurrentUserPermissions200Response.t()}
          | {:error, Tesla.Env.t()}
  def get_current_user_permissions(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/users/me/permissions")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GetCurrentUserPermissions200Response},
      {401, ExBifrost.Model.ManagementErrorResponse},
      {404, ExBifrost.Model.ManagementErrorResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get user's teams
  Returns the list of teams a user belongs to, including the membership source.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): User ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GetUserTeams200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_user_teams(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.GetUserTeams200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ManagementErrorResponse.t()}
          | {:error, Tesla.Env.t()}
  def get_user_teams(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/users/#{id}/teams")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GetUserTeams200Response},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.ManagementErrorResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get user's virtual keys by email
  **Enterprise only.** Returns all virtual keys associated with a user, looked up by email address. Returns an empty `virtual_keys` array when the user exists but has no virtual keys assigned. Intended for MDM and credential-helper integrations that need to resolve a user's keys without knowing their internal ID. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `email` (String.t): URL-encoded email address of the user
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.GetUserVirtualKeysByEmail200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_user_virtual_keys_by_email(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.GetUserVirtualKeysByEmail200Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ManagementErrorResponse.t()}
          | {:error, Tesla.Env.t()}
  def get_user_virtual_keys_by_email(connection, email, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/users/email/#{email}/virtual-keys")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.GetUserVirtualKeysByEmail200Response},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.ManagementErrorResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List users
  Returns a paginated list of users with optional search.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:page` (integer()): Page number (1-based)
    - `:limit` (integer()): Number of users per page (max 100)
    - `:search` (String.t): Search by name or email

  ### Returns

  - `{:ok, ExBifrost.Model.ListUsers200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_users(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.ListUsers200Response.t()}
          | {:error, Tesla.Env.t()}
  def list_users(connection, opts \\ []) do
    optional_params = %{
      :page => :query,
      :limit => :query,
      :search => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/users")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.ListUsers200Response},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Update user's team assignments
  Replaces the user's manual team assignments. Synced team memberships (from SCIM providers) are preserved and cannot be removed via this endpoint. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): User ID
  - `update_user_teams_request` (UpdateUserTeamsRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.MessageResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_user_teams(Tesla.Env.client(), String.t(), ExBifrost.Model.UpdateUserTeamsRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.MessageResponse.t()}
          | {:ok, ExBifrost.Model.ManagementErrorResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def update_user_teams(connection, id, update_user_teams_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/users/#{id}/teams")
      |> add_param(:body, :body, update_user_teams_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.MessageResponse},
      {400, ExBifrost.Model.ManagementErrorResponse},
      {404, ExBifrost.Model.ManagementErrorResponse},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
