# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Vault do
  @moduledoc """
  API calls for all endpoints tagged `Vault`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Flush vault secret cache
  Clears the in-memory vault secret cache so the next resolution of every `vault.<path>` reference re-fetches from the configured backend (AWS Secrets Manager, GCP Secret Manager, or HashiCorp Vault).  Use this after rotating a secret when you cannot wait for the hourly background refresh. In a clustered deployment the flush is broadcast to all peer nodes automatically — you only need to call this on one node.  Returns `400` if vault integration is not enabled. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.Logout200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec flush_vault_cache(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.Logout200Response.t()}
          | {:ok, ExBifrost.Model.GetVirtualKeyQuota401Response.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def flush_vault_cache(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/vault/flush-cache")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.Logout200Response},
      {400, ExBifrost.Model.GetVirtualKeyQuota401Response},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
