# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Videos do
  @moduledoc """
  API calls for all endpoints tagged `Videos`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Delete a video generation job
  Deletes a video generation job and its associated assets. This operation cannot be undone. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `video_id` (String.t): Video ID in format `id:provider` (e.g., `video_abc123:openai`)
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.VideoDelete200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec video_delete(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.VideoDelete200Response.t()}
          | {:error, Tesla.Env.t()}
  def video_delete(connection, video_id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/v1/videos/#{video_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.VideoDelete200Response},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Download video content
  Downloads the binary content of a generated video. The video must have a status of \"completed\" to be downloadable. Returns the raw video file (typically MP4 format). 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `video_id` (String.t): Video ID in format `id:provider` (e.g., `video_abc123:openai`)
  - `opts` (keyword): Optional parameters
    - `:variant` (String.t): Variant of the video content to download (provider-specific)

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec video_download(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()} | {:ok, String.t()} | {:error, Tesla.Env.t()}
  def video_download(connection, video_id, opts \\ []) do
    optional_params = %{
      :variant => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/videos/#{video_id}/content")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Generate a video
  Creates a video generation job from a text prompt. This is an asynchronous operation that returns immediately with a job ID. Use the retrieve endpoint to check the status and get the video URL when generation is complete. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `video_generation_request` (VideoGenerationRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.VideoGeneration200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec video_generation(Tesla.Env.client(), ExBifrost.Model.VideoGenerationRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.VideoGeneration200Response.t()}
          | {:error, Tesla.Env.t()}
  def video_generation(connection, video_generation_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/videos")
      |> add_param(:body, :body, video_generation_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.VideoGeneration200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List video generation jobs
  Lists video generation jobs for a specific provider. Results are paginated and can be filtered using query parameters. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `provider` (String.t): Provider name (e.g., \"openai\", \"gemini\")
  - `opts` (keyword): Optional parameters
    - `:after` (String.t): Cursor for pagination - ID of the last item from the previous page
    - `:limit` (integer()): Maximum number of results to return
    - `:order` (String.t): Sort order by creation time

  ### Returns

  - `{:ok, ExBifrost.Model.VideoList200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec video_list(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.VideoList200Response.t()}
          | {:error, Tesla.Env.t()}
  def video_list(connection, provider, opts \\ []) do
    optional_params = %{
      :after => :query,
      :limit => :query,
      :order => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/videos")
      |> add_param(:query, :provider, provider)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.VideoList200Response},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Remix a video
  Creates a new video generation job by remixing an existing video with a new prompt. The source video must have a status of \"completed\" to be remixed. Returns a new video generation job that can be polled for completion. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `video_id` (String.t): Video ID in format `id:provider` (e.g., `video_abc123:openai`)
  - `video_remix_request` (VideoRemixRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.VideoGeneration200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec video_remix(Tesla.Env.client(), String.t(), ExBifrost.Model.VideoRemixRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.VideoGeneration200Response.t()}
          | {:error, Tesla.Env.t()}
  def video_remix(connection, video_id, video_remix_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/videos/#{video_id}/remix")
      |> add_param(:body, :body, video_remix_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.VideoGeneration200Response},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Retrieve a video generation job
  Retrieves the status and metadata for a video generation job. Use this endpoint to poll for completion status after creating a video generation job. When the status is \"completed\", the response will include a URL to download the video. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `video_id` (String.t): Video ID in format `id:provider` (e.g., `video_abc123:openai`)
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.VideoGeneration200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec video_retrieve(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.VideoGeneration200Response.t()}
          | {:error, Tesla.Env.t()}
  def video_retrieve(connection, video_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/videos/#{video_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.VideoGeneration200Response},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
