# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech)
# using the Elixir SDK Generator template (https://github.com/houllette/elixir-sdk-generator).
# Do not edit this file manually — edit the templates and regenerate instead.

defmodule ExBifrost.Api.Webhooks do
  @moduledoc """
  API calls for all endpoints tagged `Webhooks`.
  """

  alias ExBifrost.Connection
  import ExBifrost.RequestBuilder

  @doc """
  Create a webhook endpoint
  Creates a webhook endpoint. The signing secret is generated by the server and returned once in the response — it cannot be supplied and cannot be retrieved again afterwards. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `webhook_endpoint_request` (WebhookEndpointRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.WebhookEndpointWithSecret.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_webhook_endpoint(Tesla.Env.client(), ExBifrost.Model.WebhookEndpointRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.WebhookEndpointWithSecret.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def create_webhook_endpoint(connection, webhook_endpoint_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/webhooks")
      |> add_param(:body, :body, webhook_endpoint_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, ExBifrost.Model.WebhookEndpointWithSecret},
      {400, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Delete a webhook endpoint

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): The webhook endpoint id.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.WebhookStatusResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_webhook_endpoint(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.WebhookStatusResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def delete_webhook_endpoint(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/api/webhooks/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.WebhookStatusResponse},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Get a webhook endpoint

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): The webhook endpoint id.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.WebhookEndpoint.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_webhook_endpoint(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()} | {:ok, ExBifrost.Model.WebhookEndpoint.t()} | {:error, Tesla.Env.t()}
  def get_webhook_endpoint(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/webhooks/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.WebhookEndpoint},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List delivery history
  Returns one page of delivery-attempt history for an endpoint, newest first.

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): The webhook endpoint id.
  - `opts` (keyword): Optional parameters
    - `:limit` (integer()): 
    - `:offset` (integer()): 

  ### Returns

  - `{:ok, ExBifrost.Model.WebhookDeliveryList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_webhook_deliveries(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.WebhookDeliveryList.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def list_webhook_deliveries(connection, id, opts \\ []) do
    optional_params = %{
      :limit => :query,
      :offset => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/webhooks/#{id}/deliveries")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.WebhookDeliveryList},
      {400, ExBifrost.Model.BifrostError},
      {503, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  List webhook endpoints
  Returns webhook endpoints, optionally filtered by search text, subscribed event, and disabled status. Signing secrets are never included and custom header values are redacted. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:search` (String.t): Case-insensitive match against endpoint name or URL.
    - `:event` (String.t): Comma-separated events; returns endpoints subscribed to any of them.
    - `:disabled` (boolean()): Filter by disabled status. Omit for no filter.
    - `:limit` (integer()): 
    - `:offset` (integer()): 

  ### Returns

  - `{:ok, ExBifrost.Model.WebhookEndpointList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_webhook_endpoints(Tesla.Env.client(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.WebhookEndpointList.t()}
          | {:error, Tesla.Env.t()}
  def list_webhook_endpoints(connection, opts \\ []) do
    optional_params = %{
      :search => :query,
      :event => :query,
      :disabled => :query,
      :limit => :query,
      :offset => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/webhooks")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.WebhookEndpointList},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Re-queue a delivery
  Re-queues the delivery a history record belongs to, under its original webhook-id so receivers can deduplicate the replay. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): The delivery history record id to re-queue.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.RedeliverWebhookResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec redeliver_webhook(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.RedeliverWebhookResponse.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def redeliver_webhook(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/webhooks/deliveries/#{id}/redeliver")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {202, ExBifrost.Model.RedeliverWebhookResponse},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {409, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Rotate a webhook signing secret
  Generates a new signing secret for the endpoint and returns it once. The previous secret stops verifying immediately — there is no grace window, so update your receiver in the same change. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): The webhook endpoint id.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.WebhookEndpointWithSecret.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rotate_webhook_endpoint_secret(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, ExBifrost.Model.WebhookEndpointWithSecret.t()}
          | {:ok, ExBifrost.Model.BifrostError.t()}
          | {:error, Tesla.Env.t()}
  def rotate_webhook_endpoint_secret(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/webhooks/#{id}/rotate-secret")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.WebhookEndpointWithSecret},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Send a test delivery
  Sends a sample signed delivery for the chosen event through the production signing path. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): The webhook endpoint id.
  - `test_webhook_request` (TestWebhookRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.TestWebhookResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec test_webhook_endpoint(Tesla.Env.client(), String.t(), ExBifrost.Model.TestWebhookRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()}
          | {:ok, ExBifrost.Model.TestWebhookResponse.t()}
          | {:error, Tesla.Env.t()}
  def test_webhook_endpoint(connection, id, test_webhook_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/webhooks/#{id}/test")
      |> add_param(:body, :body, test_webhook_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.TestWebhookResponse},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError}
    ])
  end

  @doc """
  Update a webhook endpoint
  Updates a webhook endpoint. The signing secret is immutable here — use the rotate-secret endpoint to change it. 

  ### Parameters

  - `connection` (ExBifrost.Connection): Connection to server
  - `id` (String.t): The webhook endpoint id.
  - `webhook_endpoint_request` (WebhookEndpointRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ExBifrost.Model.WebhookEndpoint.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_webhook_endpoint(Tesla.Env.client(), String.t(), ExBifrost.Model.WebhookEndpointRequest.t(), keyword()) ::
          {:ok, ExBifrost.Model.BifrostError.t()} | {:ok, ExBifrost.Model.WebhookEndpoint.t()} | {:error, Tesla.Env.t()}
  def update_webhook_endpoint(connection, id, webhook_endpoint_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/webhooks/#{id}")
      |> add_param(:body, :body, webhook_endpoint_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, ExBifrost.Model.WebhookEndpoint},
      {400, ExBifrost.Model.BifrostError},
      {404, ExBifrost.Model.BifrostError},
      {500, ExBifrost.Model.BifrostError}
    ])
  end
end
